<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
    <link rel="shortcut icon" href="/images/favicon.ico" />
     <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link href="/plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!-- Color Style -->
    <link class="alt" href="/colors/color1.css" rel="stylesheet" type="text/css">
    <link class="alt" href="/stylesheets/custom.css" rel="stylesheet" type="text/css">
    <link href="/style-switcher/css/style-switcher.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/6c79e8fb11.js"></script>
  </head>
  <body>
    {{> header}}
  <container>
      {{{body}}}
  </container>
    
  </body>

  {{> footer}}

    <a id="back-to-top" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>


    <script src="/javascripts/jquery-2.0.0.min.js"></script>
    <!-- Jquery Library Call -->
    <script src="/plugins/prettyphoto/js/prettyphoto.js"></script>
    <!-- PrettyPhoto Plugin -->
    <script src="/javascripts/helper-plugins.js"></script>
    <!-- Plugins -->
    <script src="/javascripts/bootstrap.js"></script>
    <!-- UI -->
    <script src="/javascripts/waypoints.js"></script>
    <!-- Waypoints -->
    <script src="/plugins/mediaelement/mediaelement-and-player.min.js"></script>
    <!-- MediaElements -->
    <script src="/javascripts/init.js"></script>
    <!-- All Scripts -->
    <script src="/plugins/flexslider/js/jquery.flexslider.js"></script>
    <!-- FlexSlider -->
    <script src="/plugins/countdown/js/jquery.countdown.min.js"></script>
    <!-- Jquery Timer -->
    <script src="/style-switcher/js/jquery_cookie.js"></script>
    <script src="/style-switcher/js/script.js"></script>
    <!-- Style Switcher Start -->
    <script src="/javascripts/masonry.pkgd.min.js"></script>

    <script src="/javascripts/modernizr.js"></script>
    
</html>
