<div class="main" role="main">
    <div id="content" class="content full" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                {{!--
                <div class="col-md-12 provider_heading">
                    <h2>All Package Providers</h2>
                </div>--}}
                <h2 class="decorated"><span>{{title}}</span></h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <h3>Upload Image</h3>
                    <form name="fileUpload", action="admin/admin_home/fileupload",enctype="multipart/form-data", method="post">
                        
                    </form>
            </div>
        </div>
    </div>
</div>