 <!-- Start Hero Slider -->
        <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                <li class="parallax" style="background-image:url(images/home-slider/sli1.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli2.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli3.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli4.jpg);"></li>
            </ul>
        </div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
        <div class="notice-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6 notice-bar-title"> <span class="notice-bar-title-icon hidden-xs"><i class="fa fa-calendar fa-3x"></i></span> <span class="title-note">Next</span> <strong>Book Now</strong> </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">
                            <option value="">Destination</option>
                            <option value="55140">Location1</option>
                            <option value="55150">Location2</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="arrival group">
                            <input type="text" name="fromdate" class="datepicker hasDatepicker" placeholder="Check-In" style="cursor:pointer;" readonly="">

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="departure group">
                            <input type="text" name="todate" class="datepicker hasDatepicker" placeholder="Check-Out" style="cursor:pointer;" readonly="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">
                            <option value="">Adults</option>
                            <option value="55140">1</option>
                            <option value="55150">2</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 hidden-xs"> <a href="#" class="btn btn-primary btn-lg btn-block btn-book">Search</a> </div>
                </div>
            </div>
        </div>
        <!-- End Notice Bar -->

         <!-- Start Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="row">
                        <!-- Start Featured Blocks -->
                        <h2 class="decorated"><span>Welcome To LuxtripAsia</span></h2>
                        <p class="home_about">We've been around for more than 40 years now, offering luxury holidays to those on the lookout for a slice of paradise! Whether you're a family looking for some much needed quality time together or a couple seeking a spot of pampering
                            in a romantic setting, we've got the perfect holiday for you.</p>
                        <!-- End Featured Blocks -->
                    </div>
                    <div class="row">
                        <h2 class="decorated"><span>Why LuxtripAsia?</span></h2>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-tags" aria-hidden="true"></i></p>
                                <h4>BEST DEALS</h4>
                                <p class="feature-desc">High-end hotels, airport lounge access and hassle-free private transfers.</p>
                                <p class="more_deals">
                                    <a data-toggle="tab" href="#sampletab1"> See all deals&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                    <!--<strong>See all deals</strong>
                                    <span class="more">More</span>-->
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></p>
                                <h4>EXCITING PACKAGES</h4>
                                <p class="feature-desc">We give you extra value with exclusive upgrades, offers and free kids' places.</p>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> More Packages&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-usd" aria-hidden="true"></i></p>
                                <h4>WORTH THE MONEY</h4>
                                <p class="feature-desc">Expert advice, in-depth knowledge and a 24/7 Concierge.</p><br>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> Know More&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Destinations container Startes-->
                 <div class="container">
                    <div class="row des_row">
                        <h2 class="decorated"><span>Our Destinations</span></h2>
                        <p class="home_about">A snapshot of our favourite destinations around the world.</p>
                        <div class="col-md-8 des_imgs_first">
                            <div class="grid-item-inner">
                                <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/1.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                            </div>
                            <p class="des_head">Destination 1</p>
                        </div>
                        <div class="col-md-4 des_imgs">
                            <div>
                                <div class="grid-item-inner">
                                    <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/2.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                                </div>
                                <p class="des_head">Destination 2</p>
                            </div>
                            <div>
                                <div class="grid-item-inner">
                                    <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/4.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                                </div>
                                <p class="des_head">Destination 2</p>
                            </div>
                        </div>
                    </div>

                    <div class="row des_row">
                        <div class="col-md-4 des_imgs">
                            <div class="grid-item-inner">
                                <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/5.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                            </div>
                            <p class="des_head">Destination 5</p>
                        </div>
                        <div class="col-md-4 des_imgs">
                            <div class="grid-item-inner">
                                <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/6.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                            </div>

                            <p class="des_head">Destination 6</p>
                        </div>
                        <div class="col-md-4 des_imgs">
                            <div class="grid-item-inner">
                                <a href="#" target="_blank" class="media-box"> <img src="images/destination-grid/7.jpg" alt=""> <span class="zoom" style="width: 490px; height: 327px; line-height: 327px;"><i class="fa fa-link"></i></span></a>
                            </div>
                            <p class="des_head">Destination 7</p>
                        </div>
                    </div>
                </div>
                <!-- Destinations container Startes-->

                <!--Top Offer Container Starts-->
                <div class="container">
                    <div class="row">
                        <h2 class="decorated"><span>Our Top Offers</span></h2>
                        <p class="home_about">We've got a selection of great offers for you to choose from.</p>
                        <p class="special_offers"><a href="#">SEE ALL OUR SPECIAL OFFERS ></a></p>
                        <div class="room_item-6 event" data-background="images/destination-grid/1.jpg" style="background-image: url(&quot;images/destination-grid/1.jpg&quot;);">

                            <div class="text">
                                <p class="before_img"><img src="images/before.png" alt=""></p>
                                <h2><a href="#">SPECIAL OFFER</a></h2>
                                <p class="after_img"><img src="images/after.png" alt=""></p>
                                <p class="price">Starts from <span class="price_inside">$1299</span>/Per Person</p>
                                <span class="underline"></span>
                                <p class="desc_offer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery ...</p>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> VIEW OFFER&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--Top Offer Container Ends-->

                <!--Top Recommendations Container Starts-->
                <div class="container">
                    <div class="row">
                        <h2 class="decorated mt20"><span>Our Top Recommendations</span></h2>
                        <p class="home_about">Need some inspiration? Here's what we're loving at the moment.</p>
                        <div class="col-md-4 col-sm-6 col-xs-6 featured-block">
                            <div class="feature-box fbox-effect cus-pad">
                                <div>
                                    <p class="reco_head img-pad"><img src="images/recom/1.jpg" alt=""></p>
                                    <p class="reco_destin fwfs">Destination of the month</p>
                                    <hr class="hr-custom">
                                    <h5 class="h5-cus">Bangkok</h5>
                                    <p class="reco_p p-cus">Bangkok, Thailand’s capital, is a large city known for ornate shrines and vibrant street life. The boat-filled Chao Phraya River feeds its network of canals, flowing past the Rattanakosin royal district, home to opulent
                                        Grand Palace and its sacred Wat Phra Kaew Temple. </p>
                                    <p class="reco_link"><a href="" class="link-cus">Find out More ></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 featured-block">
                            <div class="feature-box fbox-effect cus-pad">
                                <div>
                                    <p class="reco_head img-pad"><img src="images/recom/2.jpg" alt=""></p>
                                    <p class="reco_destin fwfs">Hotel of the month</p>
                                    <hr class="hr-custom">
                                    <h5 class="h5-cus">Aantara Phuket Villas</h5>
                                    <p class="reco_p p-cus">Located along Phuket's north west coast between lush green forests of Sirinath National Park and the island's longest beach Mai Khao, the Anantara Mai Khao Phuket Villas are sure to impress. 91 luxury villas are dotted
                                        around the resort, resembling a traditional Thai village, all finished to a high standard with contem...</p>
                                    <p class="reco_link"><a href="" class="link-cus">Find out More ></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 featured-block">
                            <div class="feature-box fbox-effect cus-pad">
                                <div>
                                    <p class="reco_head img-pad"><img src="images/recom/3.jpg" alt=""></p>
                                    <p class="reco_destin fwfs">LuxtripAsia Recommends</p>
                                    <hr class="hr-custom">
                                    <h5 class="h5-cus">The Slate</h5>
                                    <p class="reco_p p-cus">Located on the Phuket's sheltered north coast, The Slate (previously known as the Indigo Pearl) offers chic accommodation, set against the backdrop of a tropical rainforest. Choose from an array of luxury suites or
                                        opt for a Pool Suite with your very own plunge pool.Sample the mouthwatering cuisine and admire...</p>
                                    <p class="reco_link"><a href="" class="link-cus">Find out More ></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Top Recommendations Container Ends-->
            </div>
        </div>
        <!-- Start Featured Gallery -->
        <div class="featured-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h4>Updates from our gallery</h4>
                        <a href="#" class="btn btn-default btn-lg">More Galleries</a> </div>
                    <div class="col-md-3 col-sm-3 post format-image">
                        <a href="images/gallery-img1.jpg" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery-img1.jpg" alt=""> </a>
                    </div>
                    <div class="col-md-3 col-sm-3 post format-video">
                        <a href="http://youtu.be/NEFfnbQlGo8" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery-img2.jpg" alt=""> </a>
                    </div>
                    <div class="col-md-3 col-sm-3 post format-image">
                        <a href="images/gallery-img3.jpg" class="media-box" data-rel="prettyPhoto[Gallery]"> <img src="images/gallery-img3.jpg" alt=""> </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Featured Gallery -->