<!DOCTYPE HTML>
<html class="no-js">

<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Luxtripasia|CheckOut</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- CSS
  ================================================== -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="plugins/mediaelement/mediaelementplayer.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!-- Color Style -->
    <link class="alt" href="colors/color1.css" rel="stylesheet" type="text/css">
    <link class="alt" href="css/custom.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/listpage.css">
    <link rel="stylesheet" type="text/css" href="css/checkout.css">
    <link href="style-switcher/css/style-switcher.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <!-- SCRIPTS
  ================================================== -->
    <script src="js/modernizr.js"></script>
    <!-- Modernizr -->
</head>

<body>
    <!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
    <div class="body header-style2">
        <div class="toprow">
            <div class="container">
                <div class="row">
                    <nav class="top-menus">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <span class="border_nav-right">|</span>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter-square"></i></a>
                                <span class="border_nav-right">|</span>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <span class="border_nav-right">|</span>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                                <span class="border_nav-right">|</span>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin-square"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Start Site Header -->
        <header class="site-header">

            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-8">
                            <h1 class="logo">
                                <a href="index-2.html"><img src="images/logo.png" alt="Logo"></a>
                            </h1>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-4 top_address" style="text-align: right;">

                            <div class="top_com_add">
                                <p>For Reservation Call to:</p>
                                <p class="mobile_num">+91 123 456 7890*</p>
                                <p class="timing">Opening hours : 9am - 8pm</p>
                            </div>

                            <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navigation">
                                <ul class="sf-menu">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="megamenu"><a href="#">Destinations</a>
                                        <ul class="dropdown">
                                            <li>
                                                <div class="megamenu-container container">
                                                    <div class="row">
                                                        <div class="col-md-3 hidden-sm hidden-xs">
                                                            <span class="megamenu-sub-title"><i class="fa fa-pagelines"></i>&nbsp;Far East</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="#">Thailand</a></li>
                                                                <li><a href="#">Location 2</a></li>
                                                                <li><a href="#">Location 3</a></li>
                                                                <li><a href="#">Location 4</a></li>
                                                                <li><a href="#">Location 5</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-pagelines"></i>&nbsp;Region Two</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="#">Hawaii</a></li>
                                                                <li><a href="#">Location 2</a></li>
                                                                <li><a href="#">Location 3</a></li>
                                                                <li><a href="#">Location 4</a></li>
                                                                <li><a href="#">Location 5</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-pagelines"></i>&nbsp;Region Three</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="#">Location 1</a></li>
                                                                <li><a href="#">Location 2</a></li>
                                                                <li><a href="#">Location 3</a></li>
                                                                <li><a href="#">Location 4</a></li>
                                                                <li><a href="#">Location 5</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-3"> <span class="megamenu-sub-title"><i class="fa fa-pagelines"></i>&nbsp;Region Three</span>
                                                            <ul class="sub-menu">
                                                                <li><a href="#">Location 1</a></li>
                                                                <li><a href="#">Location 2</a></li>
                                                                <li><a href="#">Location 3</a></li>
                                                                <li><a href="#">Location 4</a></li>
                                                                <li><a href="#">Location 5</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Activities</a></li>
                                    <li><a href="hotel-list.html">Collections</a> </li>
                                    <li><a href="#">Special Offers</a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Site Header -->
        <!-- Start Hero Slider -->
        <!-- <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                <li class=" parallax" style="background-image:url(images/home-slider/sli1.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli2.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli3.jpg);"></li>
                <li class="parallax" style="background-image:url(images/home-slider/sli4.jpg);"></li>
            </ul>
        </div>-->
        <!-- End Hero Slider -->
        <!-- Start Notice Bar -->
        <div class="notice-bar-listpage">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6 notice-bar-title">
                        <span class="notice-bar-title-icon hidden-xs"><i class="fa fa-calendar fa-3x"></i></span>
                        <span class="title-note">Next</span> <strong>Book Now</strong>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">                   
                            <option value="">Destination</option>
                            <option value="55140">Location1</option>                
                            <option value="55150">Location2</option>      
                       </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="arrival group">
                            <input type="text" name="fromdate" class="datepicker hasDatepicker" placeholder="Check-In" style="cursor:pointer;" readonly="">

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="departure group">
                            <input type="text" name="todate" class="datepicker hasDatepicker" placeholder="Check-Out" style="cursor:pointer;" readonly="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">                   
                            <option value="" >Adults</option>
                            <option value="55140" >1</option>                
                            <option value="55150">2</option>      
                       </select>
                    </div>
                    <div class="col-md-2 col-sm-6 hidden-xs"> <a href="#" class="btn btn-primary btn-lg btn-block btn-book">Search</a> </div>
                </div>
            </div>
        </div>
        <!-- End Notice Bar -->
        <!-- Start Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 add_bottom_15">
                                <form name="bookingForm" ng-submit="book(bookingForm.$valid)" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email">
                                    <div class="form_title">
                                        <h3><strong>1</strong>Hotel Details</h3>
                                    </div>
                                    <div class="step">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="confirm_hotel_name ng-binding">Staydilly Lanta</h2>
                                                <p class="ng-binding">88/5 Moo 7, Rachathewa, Bangplee</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End step -->
                                    <div class="form_title">
                                        <h3><strong>2</strong>Your Details</h3>
                                    </div>
                                    <div class="step">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>First name*</label>
                                                    <input type="text" ng-model="firstName" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="firstName" name="firstName" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Last name*</label>
                                                    <input type="text" ng-model="lastName" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="lastName" name="lastName" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Email*</label>
                                                    <input type="email" ng-model="emailId" id="emailId" name="emailId" class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" required="">
                                                    <span class="error ng-hide" ng-show="bookingForm.emailId.$error.email">Not valid email!</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <label>Telephone/Mobile*</label>
                                                    <input type="text" ng-model="mobileNo" id="mobileNo" name="mobileNo" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Address*</label>
                                                    <textarea name="address" cols="30" rows="5" ng-model="address" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Special Requests</label>
                                                    <textarea name="spl_requests" cols="30" rows="5" ng-model="spl_requests" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="margin-top: 0px; margin-bottom: 0px; height: 152px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End step -->
                                    <div id="policy">
                                        <div class="form-group">
                                            <label>
                            <input type="checkbox" name="policy_terms" id="policy_terms" checked="" required="">
                            I accept <a href="/terms-of-use" target="_new" ng-disabled="confirmed">terms and conditions</a> and <a href="/privacy-policy" target="_new" ng-disabled="confirmed">privacy policy.</a>                        </label>
                                        </div>
                                        <input type="submit" class="btn_1 green medium" value="Next" ng-hide="confirmed">
                                        <!-- Modal -->

                                    </div>
                                </form>

                            </div>

                            <aside class="col-md-4 ">
                                <div class="box_style_1 ">
                                    <h3 class="inner ">- Summary -</h3>
                                    <table class="table table_summary ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Check in
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    01 Dec 2016
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Check out
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    02 Dec 2016
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Rooms
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    1 room
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Nights
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    1
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Adults
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    2
                                                </td>
                                            </tr>
                                            <tr ng-show="promoApplied " class="ng-hide">
                                                <td colspan="2 " class="promo-applied ">
                                                    <span class="glyphicon glyphicon-ok-sign "></span> Promo Code Applied
                                                </td>
                                            </tr>
                                            <tr ng-hide="promoApplied " class="">
                                                <td colspan="2 ">
                                                    <b>Promo Code</b>
                                                </td>
                                            </tr>
                                            <tr ng-hide="promoApplied " class="">
                                                <td>
                                                    <input type="text " name=" " class="form-control  ng-pristine ng-untouched ng-valid ng-empty" ng-model="promo " value="" ng-disabled="confirmed ">
                                                </td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" href="" ng-hide="checkingPromo " ng-click="checkPromo() ">Apply</a>
                                                    <div class="sk-spinner sk-spinner-wave promo-spinner  ng-hide" ng-show="checkingPromo ">
                                                        <div class="sk-rect1 "></div>
                                                        <div class="sk-rect2 "></div>
                                                        <div class="sk-rect3 "></div>
                                                        <div class="sk-rect4 "></div>
                                                        <div class="sk-rect5 "></div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- ngIf: promoMessage -->
                                            <tr>
                                                <td>
                                                    Room Charges
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    THB 27,282.16
                                                </td>
                                            </tr>
                                            <!-- ngIf: discounts -->
                                            <tr>
                                                <td>
                                                    Taxes and Service Charge
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    THB 4,828.94
                                                </td>
                                            </tr>
                                            <tr class="total ">
                                                <td>
                                                    Total
                                                </td>
                                                <td class="text-right  ng-binding">
                                                    THB 32,111.11
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a class="btn_full_outline " href="" ng-click="goBack() "><i class="icon-right "></i> Modify your search</a>
                                </div>
                                <div class="box_style_4 ">
                                    <i class="icon_set_1_icon-57 "></i>
                                    <h4>Need <span>Help?</span></h4>
                                    <a href=" " class="phone ">+603 2106 8888</a>
                                    <small>Monday to Friday 9.00am - 6.00pm</small>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <!-- Start Footer Widgets -->
                    <div class="col-md-4 col-sm-4 widget footer-widget">
                        <!--<h4 class="footer-widget-title">About Us</h4>-->
                        <img src="images/logo.png" alt="Logo">
                        <div class="spacer-20"></div>
                        <div class="about_footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                            <p class="right"><a href="#">Read More...</a></p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-4 widget footer-widget">
                        <h4 class="footer-widget-title">ADDITION LINKS</h4>
                        <ul>
                            <li><a href="#">Terms &amp; Policies</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Brochures</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5  col-sm-5 widget footer-widget">
                        <h4 class="footer-widget-title">Write To Us</h4>
                        <form action="" type="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Your name *</label>
                                        <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Your email address *</label>
                                        <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Comment *</label>
                                        <textarea maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Submit" class="btn btn-primary" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyrights-col-left col-md-6 col-sm-6">
                        <p>&copy; 2016 LuxtripAsia. All Rights Reserved</p>
                    </div>
                    <div class="copyrights-col-right col-md-6 col-sm-6">
                        <div class="social_icon_footer">
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <a id="back-to-top" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <script src="js/jquery-2.0.0.min.js"></script>
    <!-- Jquery Library Call -->
    <script src="plugins/prettyphoto/js/prettyphoto.js"></script>
    <!-- PrettyPhoto Plugin -->
    <script src="js/helper-plugins.js"></script>
    <!-- Plugins -->
    <script src="js/bootstrap.js"></script>
    <!-- UI -->
    <script src="js/waypoints.js"></script>
    <!-- Waypoints -->
    <script src="plugins/mediaelement/mediaelement-and-player.min.js"></script>
    <!-- MediaElements -->
    <script src="js/init.js"></script>
    <!-- All Scripts -->
    <script src="plugins/flexslider/js/jquery.flexslider.js"></script>
    <!-- FlexSlider -->
    <script src="plugins/countdown/js/jquery.countdown.min.js"></script>
    <!-- Jquery Timer -->
    <script src="style-switcher/js/jquery_cookie.js"></script>
    <script src="style-switcher/js/script.js"></script>
    <!-- Style Switcher Start -->
    <script src="js/masonry.pkgd.min.js"></script>

    <!-- Style Switcher Start -->




</body>

</html>