  <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <!-- Start Footer Widgets -->
                    <div class="col-md-4 col-sm-4 widget footer-widget">
                        <!--<h4 class="footer-widget-title">About Us</h4>-->
                        <img src="/images/logo.png" alt="Logo">
                        <div class="spacer-20"></div>
                        <div class="about_footer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                            <p class="right"><a href="#">Read More...</a></p>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-4 widget footer-widget">
                        <h4 class="footer-widget-title">ADDITION LINKS</h4>
                        <ul>
                            <li><a href="#">Terms &amp; Policies</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Brochures</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5  col-sm-5 widget footer-widget">
                        <h4 class="footer-widget-title">Write To Us</h4>
                        <form action="" type="post">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Your name *</label>
                                        <input type="text" value="" maxlength="100" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Your email address *</label>
                                        <input type="email" value="" maxlength="100" class="form-control" name="email" id="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Comment *</label>
                                        <textarea maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="submit" value="Submit" class="btn btn-primary" data-loading-text="Loading...">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="copyrights-col-left col-md-6 col-sm-6">
                        <p>&copy; 2016 Luxtripasia.com | All Rights Reserved</p>
                    </div>
                    <div class="copyrights-col-right col-md-6 col-sm-6">
                        <div class="social_icon_footer pull-right">
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
       

    <!-- Style Switcher Start -->
   {{!-- <div class="styleswitcher visible-lg visible-md">
        <div class="arrow-box"><a class="switch-button"><span class="fa fa-cogs fa-lg"></span></a> </div>

        <h4>Layout</h4>
        <ul class="layouts">
            <li class="wide-layout"><a href="#" title="Wide">Wide</a></li>
            <li class="boxed-layout"><a href="#" title="Boxed">Boxed</a></li>
        </ul>--}}
